<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <th:block th:fragment="headerlinks">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/style.css}">
        <link rel="stylesheet" th:href="@{/style2.css}">
    </th:block>
</head>
<body>
<th:block th:fragment="navigator">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">BookStorE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown_PH" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Publishing House</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown_PH">
                            <a class="dropdown-item" th:href="@{/ph/add}">PH add</a>
                            <a class="dropdown-item" th:href="@{/ph/list}">PH list</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown_Book" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Book</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown_Book">
                            <a class="dropdown-item" th:href="@{/book/add}">Book add</a>
                            <a class="dropdown-item" th:href="@{/book/list}">Book list</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown_Author" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Author</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown_Author">
                            <a class="dropdown-item" th:href="@{/author/add}">Author add</a>
                            <a class="dropdown-item" th:href="@{/author/list}">Author list</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown_Library" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Library</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown_Library">
                            <a class="dropdown-item" th:href="@{/library/add}">Library add</a>
                            <a class="dropdown-item" th:href="@{/library/list}">Library list</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown_BookReade" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BookReader</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown_BookReade">
                            <a class="dropdown-item" th:href="@{/bookReader/add}">Reader add</a>
                            <a class="dropdown-item" th:href="@{/bookReader/list}">Reader list</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/bookLent/add}">BookLent add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/bookLent/list}">BookLent list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/library/list}">Library list</a>
                    </li>
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link" th:href="@{/library/add}">Library add</a>-->
                    <!--</li>-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/book/testList}">Book list (test)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/test/go}">BIBLIOTEKA</a>
                    </li>
                </ul>
            </div>
            <!--<div class="collapse navbar-collapse" id="navbarsExample03">-->
                <!--<ul class="navbar-nav mr-auto">-->
                    <!--<li class="nav-item dropdown">-->
                        <!--<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authorize="hasRole('GRUNT') or hasRole('CLIENT')">Car Menu</a>-->
                        <!--<div class="dropdown-menu" aria-labelledby="dropdown03">-->
                            <!--<a class="dropdown-item" th:href="@{/car/add_car}">Car add</a>-->
                            <!--<a class="dropdown-item" th:href="@{/car/list_cars}">Cars list</a>-->
                            <!--<a class="dropdown-item" th:href="@{/car/car_list}">Car list</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="nav-item dropdown">-->
                        <!--<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authorize="hasRole('GRUNT') or hasRole('CLIENT')">Booking Menu</a>-->
                        <!--<div class="dropdown-menu" aria-labelledby="dropdown04">-->
                            <!--<a class="dropdown-item" th:href="@{/booking/find}">Find booking</a>-->
                            <!--<a class="dropdown-item" th:href="@{/booking/list_bookings}">Bookings list</a>-->
                            <!--<a class="dropdown-item" th:href="@{/booking/booking_add}">Booking add</a>-->
                            <!--<a class="dropdown-item" th:href="@{/booking/bookings}">Bookings cancel/accept</a>-->
                            <!--<a class="dropdown-item" th:href="@{/booking/bookings_accepted}">Bookings accepted</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="nav-item dropdown">-->
                        <!--<a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authorize="hasRole('GRUNT')">Rental Menu</a>-->
                        <!--<div class="dropdown-menu" aria-labelledby="dropdown05">-->
                            <!--<a class="dropdown-item" th:href="@{/carRent/list_carRents}">CarRents list</a>-->
                            <!--<a class="dropdown-item" th:href="@{/carRent/list_carRents}">CarRents list</a>-->
                            <!--<a class="dropdown-item" th:href="@{/carReturn/list_carReturns}">CarReturns list</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="nav-item active align-items-center sebix-green">-->
                        <!--<a class="nav-item active align-items-center sebix-green" th:href="@{/carRent/revenues_period}">Revenues for period</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<li class="nav-item active align-items-end blink_me sebix-green">-->
                    <!--<a class="nav-link align-items-start" th:class="sebix-green" th:href="@{/tylkodlakozakow}">Kozaki</a>-->
                <!--</li>-->
                <!--<li class="nav-item active align-items-start sebix-green">-->
                    <!--<a class="py-2 d-none d-md-inline-block sebix-green" th:href="@{/admin/account/list}">Account list</a>-->
                    <!--<a class="nav-item active align-items-end sebix-green" th:href="@{/user/client}">My account</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="col-9 py-2 d-none d-md-inline-block justify-content-end sebix-green">-->
                        <!--<a class="maj-2 antiquewhite d-none d-md-inline-block justify-content-end logout-black" th:href="@{/login}">Login</a>-->
                        <!--<a class="maj-2 antiquewhite d-none d-md-inline-block justify-content-end logout-black"> | </a>-->
                        <!--<a class="maj-2 antiquewhite d-none d-md-inline-block justify-content-end logout-black"> | </a>-->
                        <!--<a class="maj-2 antiquewhite d-none d-md-inline-block justify-content-end logout-black" th:href="@{/user/register}">Register</a>-->
                        <!--<a class="maj-2 antiquewhite d-none d-md-inline-block justify-content-end logout-black" th:href="@{/logout}">Logout</a>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</div>-->
        </nav>
    </header>
</th:block>

<th:block th:fragment="footerscripts">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.3/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
</th:block>

<footer th:fragment="footer">
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2019 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</footer>
</body>
</html>